<!doctype html>
<html lang="en" data-ng-app="BitcoinSentimentsApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bitcoin Sentiment Dashboard">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Bitcoin Sentiments</title>

    {{resources|safe}}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <style>
    .tweet-table {
      table-layout: fixed;
      word-wrap: break-word;
    }
    </style>
</head>
<body data-ng-controller="TweetTableController as tweetTable">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bitcoin Sentiments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container-fluid vh-100" style="position:absolute;top:0">
    <div class="row mh-100">
        <div class="col-9" style="padding-top:65px">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li id="card_li_intro" class="nav-item">
                            <a class="nav-link active" data-ng-click="tweetTable.getIntro()" href="#">Intro</a>
                        </li>
                        <li id="card_li_plot" class="nav-item">
                            <a class="nav-link bs_timeline_empty" data-ng-click="tweetTable.showTimeline()" href="#">Timeline</a>
                        </li>
                    </ul>
                </div>
                <div id="card_body_intro" class="card-body">
                    <p class="lead">
                        Bitcoin Sentiments. Providing real-time Twitter Sentiment Analysis for Bitcoin.
                    </p>
                    <p>
                        Click <strong>Timeline</strong> above to load.
                    </p>
                </div>
                <div id="card_body_plot" class="card-body" style="display: none">
                    <div id="plot_card_spinner" class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div id="mean_sentiments_plot_div"></div>
                </div>
                <div class="card-footer text-muted">
                    Developed by Gonzalo Diaz, in collaboration with Fund3 and The Data Incubator.
                </div>
            </div>
        </div>
        <div class="col-3 overflow-auto vh-100" style="padding-top:65px">
            <table id="id_tweet_table" class="table table-striped table-sm table-borderless tweet-table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%"><abbr title="polarity">pol</abbr></th>
                        <th scope="col">tweets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="small" data-ng-repeat="tweet in tweetTable.tweets">
                        <td><span class="badge badge-pill"
                                  data-ng-class="{'true':'badge-success', 'false':'badge-danger'}[tweet.ih_sentiment > 0.5]">{{ '{{tweet.ih_sentiment.toFixed(1)}}' }}</span></td>
                        <td>{{ '{{tweet.full_text}}' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Core JavaScript placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="{{url_for('static', filename='bitcoin_sentiments.js')}}"></script>
</body>
</html>
