<!doctype html>
<html lang="en" ng-app="BitcoinSentimentsApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bitcoin Sentiment Dashboard">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Bitcoin Sentiments</title>

    {{resources|safe}}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!--<script src="/templates/bitcoin_sentiments.js"></script>-->
    <script>
        function submitForm(theForm) {
            document.getElementById("output").innerHTML = "";
            url = '/get_tweets.json'
            fetch(url)
            .then(function(response) { return response.json(); })
            .then(function(item) { console.log(item); Bokeh.embed.embed_item(item['plot']); })
            //.then(function(item) { console.log(item); document.getElementById("output").innerHTML = JSON.stringify(item); Bokeh.embed.embed_item(item['plot']); })
            return false;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Bitcoin Sentiments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <div class="jumbotron">
                <h1 class="display-4">Bitcoin Sentiments.</h1>
                <p class="lead">
                    Placeholder text
                </p>
                <hr class="my-4">
                <p>
                    Lorem ipsum
                </p>
            </div>

            <div class="row" ng-controller="TweetTableController as tweetTable">
                <!--<form action="#" method="get" class="form-inline" onsubmit="return submitForm(this);">-->
                    <!--<button type="submit" class="btn btn-primary mb-2">Submit</button>-->
                <!--</form>-->

                <form action="#" ng-submit="tweetTable.getTweets()" class="form-inline">
                    <button type="submit" class="btn btn-primary mb-2">Get Tweets</button>
                </form>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div id="output"></div>
                        <div id="plot_div"></div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id_str</th>
                                <th scope="col">created_at</th>
                                <th scope="col">full_text</th>
                                <th scope="col">subjectivity</th>
                                <th scope="col">polarity</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="tweet in tweetTable.tweets">
                            <td>{{ '{{tweet.id_str}}' }}</td>
                            <td>{{ '{{tweet.created_at}}' }}</td>
                            <td>{{ '{{tweet.full_text}}' }}</td>
                            <td>{{ '{{tweet.subjectivity}}' }}</td>
                            <td>{{ '{{tweet.polarity}}' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<script src="{{url_for('static', filename='bitcoin_sentiments.js')}}"></script>
</body>
</html>
